body{
   background-color: rgb(153, 70, 15);
   background-image: url("dron.jpg");
   background-attachment: fixed;

   background-size: cover;
    max-width: 1015px;
    min-width: 620px;
    border: black solid 1px;
    height: max-content;

    margin: 0 auto;
}

.divName{
    top:10;
    left: 10;
    color: orange;
    border: black solid 1px;
    width:max-content;
}

/*
padding: 40px;
border: 3px solid red;

   background-size: contain;
   background-repeat: no-repeat;
div{
}
*/
img{
    max-width: 100%;
    max-height: 100%;
}

.fotodeperfil{
    left: 0;
    top: -316px;
    position:absolute;
    max-width: 305px;
    max-height: 305px;
    border: black solid 2px;
}

.divDesc{
    min-width: min-content;
    margin-top: 100px;
    margin-left: 315px;
    border: palegoldenrod solid 2px;
    padding: 4mm;
    max-width: 700px;
    color:palegoldenrod;
background-color: rgba(238, 232, 170, 0.24);
    
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.edu{
    
    position: relative;
    color: yellow;
    border: yellow solid 1px;
    background-color:rgba(210, 105, 30, 0.452);
    padding: 4mm;
    max-width: 1015px;
    
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.lab{
    color: wheat;
    border: wheat solid 2px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.253);
    max-width: 1015px;
    
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.especial{
    color:whitesmoke;
    border:coral solid 2px;
    padding: 4mm;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.459);
    max-width: 40rem;
}

.datoslab{
    font-size: 19px;
}

.general{
    display:grid;
}

/*grid es todo lo que está bien*/

