.thirdDiv{
    background-color: rgb(192, 192, 192);
    color:red
}
.thirdDiv{
    border: tomato;
    border-style: ridge;
    border-width: 200px;
margin: 10rem;
padding: 1rem;

text-align: center;
}
.spanId{
    color:white;
    font-size: 18px;
    margin: 50px;
}

padding: 50px;

width: 500; height: 60;
